In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import dbf

In [4]:
from simpledbf import Dbf5

ruta_archivo2 = "Datasets/taxi_zones.dbf"
dbf = Dbf5(ruta_archivo2)
df = dbf.to_dataframe()

df.head()

PyTables is not installed. No support for HDF output.
SQLalchemy is not installed. No support for SQL output.

,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough
0,1,0.116357,0.000782,Newark Airport,1,EWR
1,2,0.433470,0.004866,Jamaica Bay,2,Queens
2,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx
3,4,0.043567,0.000112,Alphabet City,4,Manhattan
4,5,0.092146,0.000498,Arden Heights,5,Staten Island

In [5]:
# Guardar el DataFrame en un archivo CSV
df.to_csv('Taxi_zones.csv', index=False)

In [6]:
ruta_archivo1 = "Datasets/taxi+_zone_lookup.csv"
df1 = pd.read_csv(ruta_archivo1)

df1.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [7]:
ruta_archivo3 = "Datasets/Taxi_zones.csv"
df3 = pd.read_csv(ruta_archivo3)

df3.head()

,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough
0,1,0.116357,0.000782,Newark Airport,1,EWR
1,2,0.433470,0.004866,Jamaica Bay,2,Queens
2,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx
3,4,0.043567,0.000112,Alphabet City,4,Manhattan
4,5,0.092146,0.000498,Arden Heights,5,Staten Island

Merge

Diferencias entre ambos datasets:

Taxi_zones.csv incluye información geoespacial (Shape_Leng, Shape_Area) que no está presente en taxi_zone_lookup.csv.
Los nombres de algunas columnas son ligeramente diferentes pero contienen información equivalente (por ejemplo, Zone vs. zone, Borough vs. borough).

Posibilidad de merge:
Ambos contienen la columna LocationID, que puede usarse como clave para unir la información de las zonas con sus detalles geoespaciales. Esto permite combinar datos descriptivos de las zonas de taxi con información geográfica, proporcionando un recurso más completo para análisis que requieran tanto descripciones de ubicaciones como datos espaciales.

In [9]:
df_merged = pd.merge(df1, df3, on='LocationID', how='inner')

In [10]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    263 non-null    int64
 1   Borough       263 non-null    object
 2   Zone          263 non-null    object
 3   service_zone  263 non-null    object
 4   OBJECTID      263 non-null    int64
 5   Shape_Leng    263 non-null    float64
 6   Shape_Area    263 non-null    float64
 7   zone          263 non-null    object
 8   borough       263 non-null    object
dtypes: float64(2), int64(2), object(5)
memory usage: 18.6+ KB

In [11]:
# Guardar el DataFrame en un archivo CSV
df_merged.to_csv('Merge_Taxi_zones.csv', index=False)